

img {
    max-width: 100%; 
    height:150px;
}

#description {
  font-style: italic;
}

.product-listview img {
  float: left;
  padding-right: 10px;
  clear: both;
  width: auto;
}

#show-me {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#delete-button {
  border-radius: 8px;
}

.product-listview {
  margin-bottom: 10px;
  box-shadow: 10px 10px 5px #888888;
  background-color: white;
}

#fave-product-name {
  font-weight: bold;
  font-size: 1.2rem;
}

#fave-product-price {
  color: #4AC431;
}


#get_button {
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 8px;
}

.buttoncontainer {
  text-align: center;
}

.round-button {
    display:inline-block;
    margin: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size: 10px;
    font-weight:bold;
}

#favorite-button {
  background: #D64545;
}

#facebook-button {
  background: #EDC43B;
}

#twitter-button {
  background: #59ED3B;
}
#email-button {
  background: #4A6AF7;
}
#favorite-button:hover {
  background: #4A4A4A;
  color: white;
}

#facebook-button:hover {
  background: #4A4A4A;
  color: white;
}

#twitter-button:hover {
  background: #4A4A4A;
  color: white;
}
#email-button:hover {
  background: #4A4A4A;
  color: white;
}

.product-round-buttons {
  padding-left: 10px;
}

#search-button {
  border-radius: 8px;
  margin-left: 5px;
}

#password {
  position: relative;
  float: right;
  width: 9em;
  height: 2.5em;
}

#username {
  position: relative;
  display: inline-block;
  width: 9em;
  height: 2.5em;

}

#login-button {
  position: relative;
  float: right;
  display: inline-block;
  z-index: 2;
  border-radius: 8px
}

#signup {
  margin-top: 8px;
  margin-left: 12px;
  position: absolute;
  float: left;
  display:inline-block;
}

#myprofile {
  margin-left: 15px;
  display: inline-block;
  font-size: 1.3em;
}

#username-display {
display: inline-block;
}

.profile-info {
  padding: 10px;
  height: 90px;
}

.asterisk {
  color: red;
  font-size: 1.2rem;
}

.profile-info {
  color: white;
}

#category-name {
  text-align: center;
  font-weight: bolder;
}

.category-image img{
  padding:25px;
  position: relative;
  padding-left: 30px;
}

#category-panel {
  margin: 10px;
  margin-left: 33px;
  width: 225px;
  height: 225px;
  border: 2px solid;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
  background-color: white;
  float:left;
}

#copyright {
  text-align: center;
  display: block;
}

#top-bar-logo {
  margin-top: 5px;
}

#product-description {
  font-size: 0.8em;
  color: #575757;
  padding: 8px;
}

#product-name {
  padding-left: 8px;
  padding-right: 8px;
}

#product-price {
  color: #4AC431;
  padding-left: 8px;
}

.product-image {
  width:180px;
  position: relative;
  padding-left: 30px;
}

.product-panel {
  display: inline-block;
  width: 220px;
  height: 100%;
  /*height: 430px;*/
  border-radius: 8px;
  box-shadow: 3px 3px 3px #888888;
  margin: 10px;
  background-color: white;
}

#favorite-button {
  background: #D64545;
}

#facebook-button {
  background: #EDC43B;
}

#twitter-button {
  background: #59ED3B;
}
#email-button {
  background: #4A6AF7;
}
#favorite-button:hover {
  background: #4A4A4A;
  color: white;
}

#facebook-button:hover {
  background: #4A4A4A;
  color: white;
}

#twitter-button:hover {
  background: #4A4A4A;
  color: white;
}
#email-button:hover {
  background: #4A4A4A;
  color: white;
}

.product-round-buttons {
  padding-left: 10px;
}


#random-product-description {
  font-size: 0.8em;
  color: #575757;
  padding: 8px;
}

#random-product-name {
  padding-left: 8px;
  padding-right: 8px;
}

#random-product-price {
  color: #4AC431;
  padding-left: 8px;
}

.random-product-image {
  width:180px;
  position: relative;
  padding-left: 30px;
}

.random-product-panel {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 100%;
  /*height: 430px;*/
  border-radius: 8px;
  box-shadow: 3px 3px 3px #888888;
  margin-left: 300px;
  margin-top: 70px;
  background-color: white;
  z-index: 1;
}

.random-product-round-buttons {
  padding-left: 10px;
}

#poof-image {
  margin-left: 100px;
  position: absolute;
  z-index: 2;
}

.i-take-up-space {
  width: 20px;
  height: 20px;
  /*background-color: black;*/
  position: relative;
  margin-top: 140px;
}

.cover_photo {
  height:300px;
  width: 100%;
  position: absolute;
  display: block;
}

#profile-pic {
  margin-top: 149px;
  margin-left: 5px;
  width: 175px;
  height: 100%;
  position: relative;
  z-index:1;
  border-radius: 50%;
}

.filter_bar {
  width: 200px;
}





