img {
    max-width: 100%; 
    height:150px;
}

/*product-container {
  display: inline-block;
  width: 275px;
  height: 400px;
  padding: 15px;
  margin-left: 10px;
  border: 1px solid black;
}*/

#description {
  font-style: italic;
}


.product-listview img {
  float: left;
  padding-right: 10px;
  clear: both;
}

.product-listview {
  margin-bottom: 10px;
}

.cover_photo {
  position: relative;
  width: 500px;
}

.avatar {
  position: absolute;
  top: 10px;
  left: 10px;
}

#get_button {
  text-align: center;
  vertical-align: center;
  width: 80px;
  font-weight: bold;
  border:2px solid blue;
  margin-left: 10px;
}

.round-button {
    display:inline-block;
    margin: 5px;
    margin-left: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size: 10px;
    font-weight:bold;
}

#favorite-button {
  background: #D64545;
}

#facebook-button {
  background: #EDC43B;
}

#similar-button {
  background: #59ED3B;
}
#email-button {
  background: #4A6AF7;
}
#favorite-button:hover  {
  background: #000;
}

#facebook-button:hover  {
  background: #000;
}

#similar-button:hover  {
  background: #000;
}
#email-button:hover  {
  background: #000;
}

#search-button {
  border-radius: 8px;
  margin-left: 5px;
}

#product-panel {
  width:350px;

}

#password {
  position: relative;
  float: right;
  width: 9em;
  height: 2.5em;
}

#username {
  position: relative;
  display: inline-block;
  width: 9em;
  height: 2.5em;

}

#login-button {
position: relative;
float: right;
display: inline-block;
z-index: 2;
border-radius: 8px
}

#signup {
  margin-top: 8px;
  margin-left: 12px;
  position: absolute;
  float: left;
  display:inline-block;
}

#myprofile {
  margin-left: 15px;
  display: inline-block;
  font-size: 1.3em;
}

#username-display {
display: inline-block;

}

.profile-info {
  padding: 10px;
  height: 90px;
}

.asterisk {
  color: red;
  font-size: 1.2rem;
}

.profile-info {
  color: white;
}
#category-name {
  text-align: center;
  font-weight: bolder;
}


.category-image img{
  padding:25px;
  position: relative;
  padding-left: 30px;
}

#category-panel {
  margin: 10px;
  width: 225px;
  border: 2px solid;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
  background-color: white;
}

#copyright {
  text-align: center;
  display: block;
}

#top-bar-logo {
  margin-top: 5px;
}


/*  SLIDER Styling */
#wrapper {
    width: 1000px;
    position: relative;
    left: 0px;
}
.content {
    float: left;
    width: 550px;
    height: 350px;
    white-space: normal;
    background-repeat: no-repeat;
}
#itemOne {
    background-color: #ADFF2F;
    background-image: url("http://www.kirupa.com/images/blueSquare.png");
}
#itemTwo {
    background-color: #FF7F50;
    background-image: url("http://www.kirupa.com/images/yellowSquare.png");
}
#itemThree {
    background-color: #1E90FF;
    background-image: url("http://www.kirupa.com/images/pinkSquare.png");
}
#itemFour {
    background-color: #DC143C;
    background-image: url("http://www.kirupa.com/images/graySquare.png");
}
