

img {
    max-width: 100%; 
    height:150px;
}

#description {
  font-style: italic;
}

.product-listview img {
  float: left;
  padding-right: 10px;
  clear: both;
}

.product-listview {
  margin-bottom: 10px;
}

.cover_photo {
  position: relative;
  width: 500px;
}

.avatar {
  position: absolute;
  top: 10px;
  left: 10px;
}

#get_button {
  text-align: center;
  vertical-align: center;
  width: 80px;
  font-weight: bold;
  border:2px solid blue;
  margin-left: 10px;
}

.round-button {
    display:inline-block;
    margin: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size: 10px;
    font-weight:bold;
}

#favorite-button {
  background: #D64545;
}

#facebook-button {
  background: #EDC43B;
}

#twitter-button {
  background: #59ED3B;
}
#email-button {
  background: #4A6AF7;
}
#favorite-button:hover {
  background: #4A4A4A;
  color: white;
}

#facebook-button:hover {
  background: #4A4A4A;
  color: white;
}

#twitter-button:hover {
  background: #4A4A4A;
  color: white;
}
#email-button:hover {
  background: #4A4A4A;
  color: white;
}

.product-round-buttons {
  padding-left: 10px;
}

#search-button {
  border-radius: 8px;
  margin-left: 5px;
}

#password {
  position: relative;
  float: right;
  width: 9em;
  height: 2.5em;
}

#username {
  position: relative;
  display: inline-block;
  width: 9em;
  height: 2.5em;

}

#login-button {
  position: relative;
  float: right;
  display: inline-block;
  z-index: 2;
  border-radius: 8px
}

#signup {
  margin-top: 8px;
  margin-left: 12px;
  position: absolute;
  float: left;
  display:inline-block;
}

#myprofile {
  margin-left: 15px;
  display: inline-block;
  font-size: 1.3em;
}

#username-display {
display: inline-block;

}

.profile-info {
  padding: 10px;
  height: 90px;
}

.asterisk {
  color: red;
  font-size: 1.2rem;
}

.profile-info {
  color: white;
}

#category-name {
  text-align: center;
  font-weight: bolder;
}

.category-image img{
  padding:25px;
  position: relative;
  padding-left: 30px;
}

#category-panel {
  margin: 10px;
  margin-left: 33px;
  width: 225px;
  height: 225px;
  border: 2px solid;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
  background-color: white;
  float:left;
}

#copyright {
  text-align: center;
  display: block;
}

#top-bar-logo {
  margin-top: 5px;
}


#product-description {
  font-size: 0.8em;
  color: #575757;
  padding: 8px;
}

#product-name {
  padding-left: 8px;
  padding-right: 8px;
}

#product-price {
  color: #4AC431;
  padding-left: 8px;
}

.product-image {
  width:180px;
  position: relative;
  padding-left: 30px;
}

.product-panel {
  display: inline-block;
  width: 220px;
  height: 100%;
  /*height: 430px;*/
  border-radius: 8px;
  box-shadow: 3px 3px 3px #888888;
  margin: 10px;
  background-color: white;
}

.poof {
  -moz-box-shadow:inset 1px 0px 0px 0px #bee2f9;
  -webkit-box-shadow:inset 1px 0px 0px 0px #bee2f9;
  box-shadow:inset 1px 0px 0px 0px #bee2f9;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #377bba) );
  background:-moz-linear-gradient( center top, #63b8ee 5%, #377bba 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#377bba');
  background-color:#63b8ee;
  -webkit-border-top-left-radius:33px;
  -moz-border-radius-topleft:33px;
  border-top-left-radius:33px;
  -webkit-border-top-right-radius:33px;
  -moz-border-radius-topright:33px;
  border-top-right-radius:33px;
  -webkit-border-bottom-right-radius:33px;
  -moz-border-radius-bottomright:33px;
  border-bottom-right-radius:33px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:-9.17px;
  border:1px solid #3866a3;
  display:inline-block;
  color:white;
  font-family:Comic Sans MS;
  font-size:22px;
  font-weight:bold;
  font-style:normal;
  height:75px;
  line-height:75px;
  width:131px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 4px #7cacde;
}
.poof:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #377bba), color-stop(1, #63b8ee) );
  background:-moz-linear-gradient( center top, #377bba 5%, #63b8ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#377bba', endColorstr='#63b8ee');
  background-color:#377bba;
}
.poof:active {
  position:relative;
  top:1px; 
}

#favorite-button {
  background: #D64545;
}

#facebook-button {
  background: #EDC43B;
}

#twitter-button {
  background: #59ED3B;
}
#email-button {
  background: #4A6AF7;
}
#favorite-button:hover {
  background: #4A4A4A;
  color: white;
}

#facebook-button:hover {
  background: #4A4A4A;
  color: white;
}

#twitter-button:hover {
  background: #4A4A4A;
  color: white;
}
#email-button:hover {
  background: #4A4A4A;
  color: white;
}

.product-round-buttons {
  padding-left: 10px;
}


#random-product-description {
  font-size: 0.8em;
  color: #575757;
  padding: 8px;
}

#random-product-name {
  padding-left: 8px;
  padding-right: 8px;
}

#random-product-price {
  color: #4AC431;
  padding-left: 8px;
}

.random-product-image {
  width:180px;
  position: relative;
  padding-left: 30px;
}

.random-product-panel {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 100%;
  /*height: 430px;*/
  border-radius: 8px;
  box-shadow: 3px 3px 3px #888888;
  margin-left: 300px;
  margin-top: 70px;
  background-color: white;

}

.random-product-round-buttons {
  padding-left: 10px;
}

#poof-image {
  margin-left: 100px;
  position: absolute;
  z-index: 1;
}

.i-take-up-space {
  width: 20px;
  height: 20px;
  /*background-color: black;*/
  position: relative;
  margin-top: 140px;
}




/*  SLIDER Styling */

