<!DOCTYPE html> 
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/../../foundation/css/normalize.css">
  <!--
    application.css is where you put your styles

  -->

  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/../../foundation/css/foundation.css">
  <link rel="stylesheet" href="/../../FullscreenSlitSlider/css/custom.css">

  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 96x96 pixels in size. -->
  <link rel="icon" href="/img/layout/favicon.png">

  <style>
  body {
    background-image: url("/img/layout/background-pattern.jpg");
  }
  .row{
    max-width: 78rem;
  }
  </style>


  <script src="/javascript/application.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/../../foundation/js/foundation.min.js"></script>
  <script src="/../../FullscreenSlitSlider/js/jquery.slitslider.js"></script>

  <title>Gift Genie v1.0</title>
</head>

<body>

  <!-- Foundation Framework --> 

  <div class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-12 columns"> 
            <nav class="top-bar" data-topbar>
              <ul class="title-area">             
                <li class="name">
                  <h1>
                    <a href="/">
                      <img src="/img/layout/logo-nav.png" id="top-bar-logo">
                    </a>
                  </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
              </ul>    

              <section class="top-bar-section">               
                <ul class="right">
                  <li class="divider"></li> 

                  <% if !@logged_in %>
                    <form method="post" action="/login">
                      <div class="small-9 columns">
                        <input type="text" id="username" placeholder="username" name="email" value="">
                        <input type="password" id="password" placeholder="password" name="password" value="">
                        <input class="button" id="login-button" type="submit" value="Login" >
                      </div>
                    </form>
                    <li class="divider"></li> 
                      <div id="signup">
                        <a href="/users/new">Sign up!</a>
                      </div>
                    <% else %>

                    <div class="profile-info">
                      <p>
                        <a href="/users/<%= session[:user_id]%>" id="myprofile">My profile</a>
                        <div id="username-display"><% email = User.find(session[:user_id]) %><%= email.email %></div>
                        <a href="/logout">Logout</a>
                      </p>
                    </div>
                  <% end %>

                </ul>
              </section>
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="large-4 small-12 columns">
            <img src="/img/layout/logo-main.png">   
            <div class="hide-for-small panel">
            <ul class="side-nav">
              <form method="get" action="/products">
                <input type="text" name="search" placeholder="Find anything...">
                <input class="button" id="search-button"type="submit" value="Search">
              </form>
              <li class="divider"></li>
              <li class="active"><a href="#">Popular Wishes</a></li>
              <li><a href="/users/<%= @user.id%>">My Wishes</a></li>
              <li class="divider"></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
                <div class="button" id="search-button"><a href="/products?random=random" style="color: white">Poof!</a></div>
            
              <h5 class="subheader">
              </h5>
            </div>
   
            <a href="#">
            <div class="panel callout radius">
              <h6>Gift Genie v1.0</h6>
            </div>
            </a>
          </div>
   
        <div class="large-8 columns">
            <div class="row">

         <%= yield %>



      <footer class="row">
        <div class="large-12 columns"><hr/>
          <div class="row">
            <div class="large-12 columns" id="copyright">
              <p>© Copyright Team Genie.us</p>
              <small><div>Icons made by Freepik, Scott de Jonge, Coucou, Icons8 from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></small>
            </div>
            
            <div class="large-3 columns">
              <ul class="inline-list right">
            
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script>
    $(document).foundation();
  </script>

</body>
</html>
