<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
<h1><a href="/">Gift Genie</a></h1>

<% if !@logged_in %>
<h2>Login</h2>
<form method="post" action="/login">
  <div>
    <label>Email:</label>
    <input type="text" name="email" value="<%= @user.email %>">
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" value="<%= @user.password %>">
  </div>

  <div>
    <input type="submit" value="Login" >
  </div>
</form>
<div>
<a href="/users/new">Don't have an account?Sign up here... It's FREE!</a>
</div>
<% else %>
<p>
<a href="/users/show">My profile</a>
</p>
<p>
Hello <%= @user.email %> : <a href="/logout">Logout</a>
</p>
<% end %>
<form method="get" action="/products">
    <input type="text" name="category" >
    <input type="submit" value="Search">
</form>
  <%= yield %>
</body>
</html>
