<h1>Products</h1>

<% @products.each do |product| %>
	<div class="product-container">
		<img src="<%= product.img_filepath%> " class="product-preview"/>
		<p><h4><%= product.name %></h4></p>
		<p>$<%= product.price %></p>
		<p id="description"><%= product.description %></p>
	</div>
<% end %>

